/* Variables ****************************** */

:root {
  --body-font: 'Urbanist', sans-serif;

  --theme-color: #fe4a23;
  --text-color: #0d0d0d;
  --secondary-color: #ffd027;
  --font-color: #f9f9f9;
  --background-color: none;
  --link-color: #fff;

  --h-padding: 25px;
  --v-padding: 15px;

  --space: 1rem;
}

/* Typography ****************************** */

html {
  font-size: 100%;
}

body {
  font-family: var(--body-font);
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.4;
  color: var(--text-color);
}

h1 {
  font-size: max(5.6rem, 20px);
  /* font-weight: 600; */
  font-weight: 400;
  line-height: 1.2;
}

h2 {
  font-size: 3em;
  font-weight: 500;
}

p {
  font-size: 0.875em;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

a {
  color: inherit;
  position: relative;
}

button {
  font-size: 0.875rem;
  outline: none;
  border: none;
}

h1 > span {
  /* text-align: center; */
}

/* Layout ****************************** */

.container {
  width: 100%;
  margin-inline: auto;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

#nav-container {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 0.5rem;
  /* position: relative; */
  /* overflow: hidden; */
}

/* Shared ****************************** */

/* Content ****************************** */

.header {
  margin: 0.75rem 1.5rem 2rem 1.5rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--text-color);
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  border-radius: 1.25rem;
  position: relative;
}

.header-logo img,
.header-logo svg {
  width: 86px;
  height: 40px;
  fill: var(--font-color);
}

.header-logo svg:hover {
  fill: var(--theme-color);
}

.header-nav__container {
  background: rgba(54, 54, 54, 0.6);
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav > * + * {
  margin-left: 2rem;
}

.header-nav__item--link {
  color: var(--font-color);
  text-decoration: none;
}

.header-nav__item--link:hover {
  color: var(--theme-color);
}

.btn {
  font-size: 0.75rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
}

.btn-primary {
  color: var(--text-color);
  background: var(--font-color);
}

.btn-primary:hover,
.btn-primary:active {
  color: var(--link-color);
  background: var(--theme-color);
}

.btn-secondary {
  color: var(--link-color);
  background: var(--theme-color);
}

.btn-secondary:hover,
.btn-secondary:active {
  color: var(--text-color);
  background: var(--font-color);
}

.hero {
  width: max-content;
}

.hero-container {
  position: relative;
}

.hero-top,
.hero-middle,
.hero-bottom {
  display: flex;
  align-items: center;
}

.hero-right {
  position: absolute;
  left: 590px;
  top: 12px;
}

.hero-right__container {
  position: relative;
}

.hero-top {
  margin-left: 6rem;
}
.hero-bottom {
  margin-left: 12rem;
}

.hero-middle h1 > span {
  opacity: 0.25;
}

.hero-right__container > svg {
  position: absolute;
  top: -16px;
  left: -16px;
}
