/* Variables ****************************** */

:root {
	--body-font: 'Urbanist', sans-serif;
	
	--theme-colour: #FE4A23;
	--theme-colour-darker: #0D0D0D;
	--secondary-colour: #FFD027;
	--font-colour: #F9F9F9;

	--h-padding: 25px;
	--v-padding: 15px;
}


/* Typography ****************************** */

html {
	font-size: 100%;
}

body {
	font-family: var(--body-font);
	
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.4;
}

h1 {
	font-size: 3.5em;
	font-weight: 600;
}

h2 {
	font-size: 2.5em;
	font-weight: 500;
}

p {
	font-size: 0.875em;
}

em {
	font-style: italic;
}

strong {
	font-weight: 700;
}

a {
	color: inherit;
	position: relative;
}

/* Layout ****************************** */

main {
	margin: 30px;
	margin: 10vh 10vw;
	max-width: 600px;
}